/* Default CSS */

* {
  cursor: default;
}

a, i {
  cursor: pointer;
}

input {
  cursor: text;
}

.heading {
  background-color: #000;
  color: #FFF;
  margin-top: 2rem;
}

a[href="http://noise.supply"] {
  text-decoration: none;
}

input[type="submit"]:hover {
  color: #FFF;
  background: #212121;
  border: 1px solid #212121;
}

.fa.player {
  font-size: 72px;
  margin-bottom: 1rem;
  cursor: pointer;
  vertical-align: middle;
}

.fa.skip {
  font-size: 48px;
  padding-left: 12px;
  margin-bottom: 1rem;
  cursor: pointer;
  display: none;
  vertical-align: middle;
}

.play-area {
  display: none;
}

.volume {
  color: #999;
  font-size: 40px;
  position: fixed;
  bottom: 12px;
  left: 12px;
  cursor: pointer;
  background-color: #FFF;
  display: none;
}

.credits {
  color: #999;
  font-size: 12px;
  position: fixed;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
  background-color: #FFF;
}

.credits a {
  color: #999;
}

.fa-soundcloud:hover {
  color: #E67E22;
}

.fa-github:hover {
  color: #4183c4;
}

.tips {
  display: none;
}

.social a {
  font-size: 24px;
  color: #999;
  vertical-align: middle;
}

.social a:hover {
  color: #FFF;
}

.social span {
  font-size: 12px;
  color: #999;
  font-family: monospace;
  padding-left: 12px;
  display: none;
}

.fa-facebook:hover {
  border-color: #3B5998;
  background-color: #3B5998;
}

.fa-tumblr:hover {
  border-color: #32506D;
  background-color: #32506D;
}

.fa-twitter:hover {
  border-color: #00ACED;
  background-color: #00ACED;
}

.fa-link:hover {
  border-color: #049FB3;
  background-color: #049FB3;
}

.fa-border {
  border: solid 1px #E1E1E1;
  border-radius: 4px;
}

.fa-fw {
  height: 1.28571429em;
  line-height: 30px;
}

hr {
  margin-bottom: 3rem;
}

.genres span {
  text-transform: uppercase;
  font-style: italic;
  padding-right: 12px;
  color: #D1D1D1;
  font-weight: bold;
  cursor: pointer;
}

.genres span:hover {
  color: #FFF;
  background-color: #000;
}

.genre-loading {
  display: none;
}

.selected-genre {
  text-transform: uppercase;
}

.play-area .favorite {
  display: none;
  color: #999;
}

.play-area .favorite:hover {
  cursor: pointer;
  color: #E74C3C;
}

.favorited {
  color: #E74C3C;
}

.sidebar {
  padding-top: 2rem;
}

.sidebox {
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding: 1rem 2rem;
  color: #555;
  display: none;
  margin-bottom: 1rem;
}

.sidebox ul {
  font-family: monospace;
  margin-bottom: 0;
  max-height: 400px;
  overflow-y: scroll;
}

.sidebox ul li {
  margin-bottom: 0.5rem;
}

.history ul li {
  list-style: none;
  color: #999;
}

.history ul li:nth-child(1) {
  font-weight: bold;
}

.history .favorite, .reseed {
  font-size: 0.5rem;
  display: none;
}

.history .favorite:hover {
  cursor: pointer;
  color: #E74C3C;
}

.reseed:hover {
  cursor: pointer;
  color: #26A65B;
}

.history ul li:hover .favorite {
  display: inline;
}

.history ul li:hover .reseed {
  display: inline;
}

.settings ul li {
  list-style: none;
  color: #999;
}

.settings input {
  cursor: default;
  margin-bottom: 0;
}

.sc-connect.connected {
  color: #FF8800;
  font-weight: bold;
  text-decoration: none;
}

.lastfm-connect.connected {
  color: #D51007;
  font-weight: bold;
  text-decoration: none;
}

.connected:hover {
  text-decoration: underline;
}

.visible {
  display: inline !important;
}

.hidden {
  display: none !important;
}

/* Night CSS, thanks to https://github.com/thinkaliker */
body.night {
  background-color: #000 !important;
  color: #FFF !important;
}

body.night label {
  color: #FFF;
}

body.night div {
  color: #FFF;
}

body.night input[type="text"]{
  color: #888;
}

body.night i {
  color: #FFF;
}

body.night .heading {
background-color: #FFF;
color: #000;
}

body.night .button {
  color: #FFF;
  background: #000;
  border: 1px solid #CDCDCD;
}

body.night .button:hover {
  color: #000;
  background: #FFF;
  border: 1px solid #FFF;
}

body.night .credits {
  color: #999;
  background-color: #000 !important;
}

body.night .sidebox {
  color: #FFF;
}

body.night .genres {
  color: #D1D1D1;
}

body.night .genres span:hover {
  color: #000;
  background-color: #FFF;
}

body.night .volume {
  color: #FFF;
  background-color: #000;
}