.heading {
  background-color: #000;
  color: #FFF;
  margin-top: 2rem;
}

input[type="submit"]:hover {
  color: #FFF;
  background: #212121;
  border: 1px solid #212121;
}

.fa.player {
  font-size: 72px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.play-area {
  display: none;
}

.volume {
  color: #999;
  font-size: 12px;
  position: fixed;
  bottom: 12px;
  left: 12px;
  cursor: pointer;
  background-color: #FFF;
  display: none;
}

.credits {
  color: #999;
  font-size: 12px;
  position: fixed;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
  background-color: #FFF;
}

.credits a {
  color: #999;
}

.fa-soundcloud:hover {
  color: #E67E22;
}

.fa-github:hover {
  color: #4183c4;
}

.tips {
  display: none;
}

.social a {
  font-size: 24px;
  color: #999;
  vertical-align: middle;
}

.social a:hover {
  color: #FFF;
}

.social span {
  font-size: 12px;
  color: #999;
  font-family: monospace;
  padding-left: 12px;
  display: none;
}

.fa-facebook:hover {
  border-color: #3B5998;
  background-color: #3B5998;
}

.fa-tumblr:hover {
  border-color: #32506D;
  background-color: #32506D;
}

.fa-twitter:hover {
  border-color: #00ACED;
  background-color: #00ACED;
}

.fa-link:hover {
  border-color: #049FB3;
  background-color: #049FB3;
}

.fa-border {
  border: solid 1px #E1E1E1;
  border-radius: 4px;
}

.fa-fw {
  height: 1.28571429em;
  line-height: 30px;
}

hr {
  margin-bottom: 3rem;
}

.genres span {
  text-transform: uppercase;
  font-style: italic;
  padding: 0px 4px 0px 2px;
  margin-right: 12px;
  color: #D1D1D1;
  font-weight: bold;
  cursor: pointer;
}

.genres span:hover {
  color: #FFF;
  background-color: #000;
}

.genre-loading {
  display: none;
}

.selected-genre {
  text-transform: uppercase;
}

.favorite {
  display: none;
  color: #999;
}

.favorite:hover {
  cursor: pointer;
  color: #E74C3C;
}

.favorited {
  color: #E74C3C;
}

.sidebar {
  padding-top: 2rem;
}

.sidebox {
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  padding: 1rem 2rem;
  color: #555;
  display: none;
  margin-bottom: 1rem;
}

.sidebox ul { 
  font-family: monospace;
  margin-bottom: 0;
  max-height: 400px;
  overflow-y: scroll;
}

.sidebox ul li {
  margin-bottom: 0.5rem;
}

.history ul li {
  list-style: none;
  color: #999;
}

.history ul li:nth-child(1) {
  font-weight: bold;
}

input.switch:empty {
    margin-left: -9999px;
}

input.switch:empty ~ label {
    position: relative;
    float: left;
    line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: #000;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after {
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin: 0.1em;
	background-color: #fff;
}

input.switch:checked ~ label:before {
	background-color: #D1D1D1;
}

input.switch:checked ~ label:after {
	margin-left: 2.1em;
}

/* dark */
body[class~=dark] {
  background-color: #000 !important;
  color: #fff !imp  ortant;
}

label[class~=dark] {
    color: #fff;
}

div[class~=dark] {
    color: #fff;
}

.heading[class~=dark] {
  background-color: #fff;
  color: #000;
}

.button[class~=dark] {
  color: #fff;
  background: #000;
  border: 1px solid #CDCDCD;
}

.button[class~=dark]:hover {
  color: #000;
  background: #CDCDCD;
  border: 1px solid #fff;
}

.credits[class~=dark] {
  color: #999;
  background-color: #000 !important;
}

.sidebox[class~=dark] {
    color: #fff;
}

.genres span .dark {
  color: #D1D1D1;
}

.genres span:hover {
  color: #000;
  background-color: #FFF;
}

i[class~=inv] {
    color: #fff;
}
